#content_schedule{
    color : white;
    /* position: fixed; */
    top: 0px;
    /* min-width: 355px; */
    margin: auto;
    width: 540px;
    max-width: 100%;
    background: rgba(255, 255, 255, 0);
    border: 1px solid #a0a096;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    /*background: linear-gradient( 
90deg
 , rgb(121 94 9 / 47%) 5%, rgb(176 182 20 / 77%) 26%, rgb(255 193 0 / 80%) 100%);*/
    border-radius: 5px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

}

#tools{
    
    border-bottom: 1px solid white;
    border-top: 1px solid;
}

#selector_rub{
    
    border-bottom: 1px solid white;
    border-top: 1px solid;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

}

#selector_rub > button{
    border:1px solid;
    margin:2px;
    background-color: transparent;
    
}

.bot-nav{
    min-width:100px;
    height:80px;
    color:white;
  }

.b_submit{
    color:white;
    border:1px solid;
    margin:2px;
    min-width:100px;
    min-height: 40px;
    background-color: transparent;
}

#note{
    height:50px;
    border-bottom: 1px solid white;
    border-top: 1px solid;
    display: contents;
}

#text_note{
    height: 385px;
    width: 90%;
    background-color: transparent;
    margin: 5px;
    border-radius: 5px;
    border: #00bcd4 solid 1px;
}

#nav_s{
    border-bottom: 1px solid white;
    border-top: 1px solid;
}

.bg-no{
color:white;
height:40px;
}

.rigth_s{
    float: right;
    
}

.rigth_s > button{
    color: rgb(255 255 255);
    font-weight: bolder;
    /*background: linear-gradient( 
90deg
 , rgb(121 9 9 / 47%) 5%, rgb(176 182 20 / 77%) 26%, rgb(255 193 0 / 80%) 100%);*/
 border:1px solid;
    margin:2px;
    background-color: transparent;
}

.left_s{
    float:left;
}

.left_s > button{
    border:1px solid;
    margin:2px;
    background-color: transparent;
}

#t_sh{
    
    /* border-bottom: 1px solid white; */
    /* border-top: 1px solid; */
    display: inline-block;
    width: 100%;
}

#title_sh{
    
    width: 50%px;
    float: left;
    font-size: 15px;
    margin: 10px;
    text-align: left;
}

#title_sht{
   
    width: 50%;
    float: right;
    font-size: 24px;
    margin: 10px;
    font-weight: bolder;
    text-align: right;
}

#selector_rub > button{
    width:60px;
    font-size: 12px;
}