.detalle_ejercicio{
    border-radius: 10px 10px 10px 10px;
    width: 95%;
    max-width: 500px;
    background: rgba(2, 96, 159, 0.88);
    background: linear-gradient(180deg, rgb(2, 96, 159) 5%, rgba(28, 34, 145, 0.966) 30%);
    box-shadow: 0px 0px 5px 1px rgb(255 255 255 / 30%);
    font-family: Roboto;
    min-height: 460px;
    position:absolute;
    top:165px;
    animation: parpadeo 500ms linear 1;
}

.nombre_ejercicio{
    width:100%;
    max-width: 500px;
    text-align: center;
    font-family: Roboto;
    font-size: 25px;
    border-radius: 10px 10px 0px 0px;
    background: rgba(2, 96, 159, 0.88);
    min-height: 30px;
    display: flex;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    box-shadow:  0px -5px 5px 1px rgba(255, 255, 255, 0.301);
    animation: parpadeo 500ms linear 1;
    background-color: rgba(27, 2, 165, 0.61);
}

.detail_ejercicio{
    
    background-color: transparent;
    color:black;
    border-radius: 10px;
    height:70px;font-family: Roboto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin:7px;
    box-shadow:  0px 0px 1px 1px rgba(255, 255, 255, 0.301);
    min-width: 100%;
    animation: parpadeo 1000ms linear 1;
}

.detail_ejercicio>div{
    padding: 5px;
    font-size: 15px;
    color:white;
    font-family: Roboto;
    width:50%;
    text-align: left;
}

.detail_ejercicio>div:nth-child(2n){
    font-family: Digital;
    color:greenyellow; 
    font-size: 65px;
    width:50%;
    text-align: right;
    padding-left: 10px;
}

.ok_detail{
    margin-top:30px;
}

.ok_detail>button{
    min-height: 40px;
    
}


.content_detail{
    background-color: none;
    color:black;
    border-radius: 10px;
    font-family: Roboto;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 1px 1px rgb(255 255 255 / 30%);
    width: 50%;
    width: 100%;
    animation: parpadeo 500ms linear 1;
}

.details{
    background-color: none;
    color:black;
    border-radius: 10px;
    font-family: Roboto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin:7px;
    width:50%;
    min-height: 100px;
    animation: parpadeo 500ms linear 1;
}

.detail_peso{
    background-color: none;
    color:black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    margin: 7px;
    box-shadow: 0px 0px 1px 1px rgb(255 255 255 / 30%);
    width: 50%;
    min-height: 154px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow:  0px 0px 1px 1px rgba(255, 255, 255, 0.301);
    font-family: Roboto;
}



.detail_peso > div{
    font-family: Roboto;
    font-size: 17px;
    max-height: 90px;
    width:100%;
    text-align: center;
}

.detail_peso > div:nth-child(2n){
    font-family: Facon;
    font-size: 70px;
    color:rgb(255, 200, 47);  
    width:100%;
    text-align: center;
    animation: blur 1000ms linear 1;
}

.kg{
    font-size: 25px;
    font-family: Apex;
}


